@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

// === VARIABLES ===
$off-white: #f5f5f5;
$light-blue: #5468e7;
$dark-blue: #232340;
$light-blue-secondary: #7676b2;

body {
  font-family: "Lexend Deca", sans-serif;
  background: $off-white;
}

// === COMPONENTS ===
.section-heading {
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  color: $dark-blue;

  @media (max-width: 576px) {
    font-size: 2.125rem;
    line-height: 42px;
  }
}

.section-text {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: rgba(35, 35, 64, 0.9);

  @media (max-width: 576px) {
    font-size: 1rem;
    line-height: 24px;
  }
}

.button-primary {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: $light-blue;
  transition: all 0.3s ease-in-out;
  color: $off-white;
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    background-color: $light-blue-secondary;
    color: $off-white;
  }

  @media (max-width: 576px) {
    font-size: 1rem;
    line-height: 24px;
    width: 100%;
  }
}

.button-link {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  transition: all 0.3s ease-in-out;
  color: $light-blue;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    color: $light-blue-secondary;
  }

  @media (max-width: 576px) {
    font-size: 1rem;
    line-height: 24px;
  }
}

.pt-8 {
  padding-top: 8rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

// === NAVBAR ===
nav.navbar.navbar {
  transition: all 0.3s ease-in-out;

  @media (max-width: 992px) {
    background: $dark-blue;
  }

  ul {
    li {
      a {
        text-decoration: underline;
        color: $off-white;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #eeeeee;
        }
      }
    }
  }

  .nav-btn {
    border-radius: 4px;
    background: rgba(84, 104, 231, 0.5);
    border: none;
    padding: 10px 20px;
    color: $off-white;
    font-weight: 400;
    font-size: 1.05rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #7676b2;
    }
  }

  .navbar-toggler {
    border: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .navbar-toggler--nav,
  .navbar-toggler-icon {
    transition: all 0.5s ease-in-out;
  }

  .navbar-toggler-icon {
    background: none;
    height: 2px;
    width: 28px;
    display: block;
    border-radius: 9999px;
    background-color: rgb(255, 255, 255);
  }

  .navbar-toggler-icon:not(:last-child) {
    margin-bottom: 7px;
  }

  .navbar-toggler--nav.toggler-active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
  }

  .navbar-toggler--nav.toggler-active > span:nth-child(2) {
    width: 0;
  }

  .navbar-toggler--nav.toggler-active > span:nth-child(1),
  .navbar-toggler--nav.toggler-active > span:nth-child(3) {
    transition-delay: 0.5s;
  }

  .navbar-toggler--nav.toggler-active > span:nth-child(1) {
    transform: translateY(9px);
  }

  .navbar-toggler--nav.toggler-active > span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
  }
}

// ===HOME===
.home-hero {
  background-image: url("../images/home-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .input-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: none;
    padding: 10px 1rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.14px;
    color: $light-blue-secondary;
    background: $off-white;

    input {
      border: none;
      background: none;
      color: $light-blue-secondary;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    i {
      color: $light-blue-secondary;
      font-size: 1.5rem;
      display: inline-block;
      padding: 0;
      margin: 0;
    }

    @media (max-width: 992px) {
      width: auto;
    }

    @media (max-width: 576px) {
      font-size: 1rem;
      line-height: 24px;
      width: 100%;
    }
  }
}

.feature#feature {
  .feature-img {
    img {
      // width: 60vw;
    }
  }
}
